<!DOCTYPE html>
<html>
<%- include ./partials/session.ejs %>
  <body>
    <table>
      <form action="/signup" method="post">
        Username:<br>
        <input type="text" name="username" placeholder="username">
        <br>
        Password:<br>
        <input type="password" name="password" placeholder="password">
        <br>
        Role:<br>
        <select name="role">
          <option value="headmaster">Headmaster</option>
          <option value="academic">Academic</option>
          <option value="teacher">Teacher</option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </table>
  </body>
</html>
